/*Only for iPhone 5 SE and other highly small width devices*/
@media screen and (max-width: 330px){
    #main-content{
        margin-top: 100px;
    }
}
.custom-color{
    color: #77797c;
}
.custom-heading{
    font-size: 0.96rem;
}
.custom-background{
    background-color: #17c2d7;
}
.white-color{
    color: white;
}
.gray-background{
    background-color: #eaedf0;
}
.custom-border{
    border: 1px solid  #c7c7c7;
}
.light-gray-background{
    background-color: #f1f4f6;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "â±";
    color: #b8b8b8;
}
.custom-switch{
    border: none;
}
.custom-dash-block{
    background-color: #0099ae;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 10px -6px rgb(177, 176, 176);
    -moz-box-shadow: 0 6px 10px -6px  rgb(177, 176, 176);
         box-shadow: 0 6px 10px -6px  rgb(177, 176, 176); 
}
.custom-dash-block:hover{
    -webkit-box-shadow: 0 10px 10px -6px #777;
    -moz-box-shadow: 0 10px 10px -6px #777;
         box-shadow: 0 10px 10px -6px #777; 
}
.custom-dash-block small{
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}
.custom-dash-block:hover small{
    border-bottom: 1px solid white;
}

.custom-drag-table{
    color: #77797c;
    table-layout: fixed; 
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
}
.custom-drag-table tr{
    background-color: #f1f4f6;
}

.input-group:hover .custom-input-prepend{
    background-color: #17c2d7;
}
.input-group:hover .custom-input-prepend span{
    color: white;
}
.input-group:hover .custom-input-prepend label{
    color: white;
}

.dd3-item > button{
    margin-top: 1.5rem;
}